@font-face {
  font-family: Open Dyslexic Regular;
  src: url(../font/OpenDyslexic-Regular.otf);
}

html {
  height: 100%;
}

html body {
  font-family: 'Open Dyslexic Regular', sans-serif;
  height: 100%;
  background-color: #F9FCFF;
}

html body .btn.btn-rounded {
  border-radius: 25px;
}

html body .github-corner:hover .octo-arm {
  -webkit-animation: octocat-wave 560ms ease-in-out;
          animation: octocat-wave 560ms ease-in-out;
}

@-webkit-keyframes octocat-wave {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20%, 60% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  40%, 80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes octocat-wave {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20%, 60% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  40%, 80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  html body .github-corner:hover .octo-arm {
    -webkit-animation: none;
            animation: none;
  }
  html body .github-corner .octo-arm {
    -webkit-animation: octocat-wave 560ms ease-in-out;
            animation: octocat-wave 560ms ease-in-out;
  }
}

html body #home {
  min-height: 100vh;
  background-color: #F9FCFF;
}

html body #home .display-1 {
  color: #0094FF;
}

html body #about {
  background-color: #EFF8FF;
}

html body #about a {
  text-decoration: none;
}

html body #navbar {
  background-color: #EFF8FF;
  z-index: 500;
  height: 55px;
}

html body #navbar .btn-setting {
  background: none;
  color: #0094FF;
  border: none;
  border-radius: 5px;
}

html body #navbar .btn-setting:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
  border-color: #565e64;
  box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
}

html body #navbar .input-group {
  width: 75%;
}

html body #readbar {
  background-color: #C0C0C0;
  height: 40px;
  z-index: 200;
  width: 100%;
  opacity: 0.25;
}

html body #setting {
  right: 15px;
  bottom: 15px;
  z-index: 400;
}

html body #setting #btn-overlay {
  background-color: transparent;
  font-size: 20px;
  color: #0094FF;
  outline: none;
  border: none;
}

html body #setting .input-color {
  border-radius: 5px;
  width: 35px;
  height: 35px;
  background-color: #C0C0C0;
  cursor: pointer;
}

html body #setting .input-color:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
  border-color: #565e64;
  box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
}

html body #setting .btn-menu {
  background-color: #FFFFFF;
  width: 35px;
  padding: 5px;
}

html body #setting .btn-menu:hover {
  background-color: #0A58CA;
}

html body #display {
  height: calc(100% - 55px);
  background-color: transparent;
  z-index: 300;
}

html body #display .text-input {
  height: 100%;
  overflow-y: auto;
  border: none;
  resize: none;
  padding: 15px;
  background-color: transparent;
}

html body #display .text-input:focus {
  outline-width: 0;
}

html body #display .placeholder {
  height: 100%;
  background-color: #F9FCFF;
}

html body #display .web-display {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  border: none;
}

html body footer {
  background: #151513;
  color: #FFFFFF;
}

html body footer a {
  color: #FFFFFF;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */