@font-face {
    font-family: Open Dyslexic Regular;
    src: url(../font/OpenDyslexic-Regular.otf);
}

html{
    height: 100%;

    body{
        font-family : 'Open Dyslexic Regular', sans-serif;
        height      : 100%;
        background-color    : #F9FCFF;
        
        .btn{
            &.btn-rounded{
                border-radius : 25px;
            }
        }
    
        
        .github-corner:hover .octo-arm{
            animation : octocat-wave 560ms ease-in-out
        }
    
        @keyframes octocat-wave{
            0%,100%{
                transform : rotate(0)
            }
            20%,60%{
                transform : rotate(-25deg)
            }
            40%,80%{
                transform : rotate(10deg)
            }
        }
        
        @media (max-width:500px){
            .github-corner:hover .octo-arm{
                animation : none
            }
            
            .github-corner .octo-arm{
                animation : octocat-wave 560ms ease-in-out
            }
        }
    
        #home{
            min-height          : 100vh;
            background-color    : #F9FCFF;
            .display-1{
                color : #0094FF;
            }
        }
    
        #about{
            background-color : #EFF8FF;
            a{
                text-decoration : none;
            }
        }
    
        #navbar{
            background-color    : #EFF8FF;
            z-index             : 500;
            height              : 55px;

            .btn-setting{
                background      : none;
                color           : #0094FF;
                border          : none;
                border-radius   : 5px;

                &:focus{
                    outline         : 0;
                    box-shadow      : 0 0 0 0.25rem rgba(130,138,145,.5);
                    border-color    : #565e64;
                    box-shadow      : 0 0 0 0.25rem rgba(130,138,145,.5);
                }
            }

            .input-group{
                width: 75%;
            }
        }
    
        #readbar{
            background-color    : #C0C0C0;
            height              : 40px;
            z-index             : 200;
            width               : 100%;
            opacity             : 0.25;
        }
    
        #setting{
            right   : 15px;
            bottom  : 15px;
            z-index : 400;
            
            #btn-overlay{
                background-color    : transparent;
                font-size           : 20px;
                color               : #0094FF;
                outline             : none;
                border              : none;
            }

            .input-color{
                border-radius       : 5px;
                width               : 35px;
                height              : 35px;
                background-color    : #C0C0C0;
                cursor              : pointer;
                
                &:focus{
                    outline         : 0;
                    box-shadow      : 0 0 0 0.25rem rgba(130,138,145,.5);
                    border-color    : #565e64;
                    box-shadow      : 0 0 0 0.25rem rgba(130,138,145,.5);
                }
            }
    
            .btn-menu{
                background-color    : #FFFFFF;
                width               : 35px;
                padding             : 5px;
    
                &:hover{
                    background-color : #0A58CA;
                }
            }
        }

        #display{
            height              : calc(100% - 55px);
            background-color    : transparent;
            z-index: 300;
    
            .text-input{
                height              : 100%;
                overflow-y          : auto;
                border              : none;
                resize              : none;
                padding             : 15px;
                background-color    : transparent;

                &:focus{
                    outline-width : 0;
                }
            }

            .placeholder{
                height              : 100%;
                background-color    : #F9FCFF;
            }

            .web-display{
                height              : 100%;
                width               : 100%;
                overflow-y          : auto;
                border              : none;
            }
        }
    
        footer{
            background  : #151513;
            color       : #FFFFFF;
            a{
                color           : #FFFFFF;
                text-decoration : none;
            }
        }
        
    }    
}

